/* header */

.btn-favorites {
    right: 0;
}

/* search */

.search {
    width: 50%;
}

.search-input-holder {
    width: 90%;
}

.search-input {
    width: 100%!important;
}

.search-button {
    margin-left: 5px;
}

.recent-searches {
    display: none;
}

.recent-searches.visible {
    display: flex;
}

.recent-searches span {
    font-size: 0.8rem;
    cursor: pointer;
}

/* bears list */

.bear-card {
    max-width: 540px;
    height: 300px;
}

.bear-card-img {
    max-height: 200px;
    object-fit: contain;
}

.bear-description {
    max-height: 100px;
    overflow: hidden;
}

/* up button */

.scroll-up-button {
    position: fixed;
    bottom: 20px;
    right: 300px;
}

/* favorites */

.media {
    margin-top: 20px;
}

.fav-img {
    max-height: 100px;
}

.media-body {
    max-height: 100px;
    overflow: hidden;
}

/* beer card */

.beer-card-img {
    max-height: 300px;
    object-fit: contain;
    margin-top: 20px;
}